In [14]:

print(file_names)

['sub37_lo.txt', 'sub29_lo.txt', 'sub25_lo.txt', 'sub46_lo.txt', 'sub13_lo.txt', 'sub01_lo.txt', 'sub34_hi.txt', 'sub45_hi.txt', 'sub38_hi.txt', 'sub26_hi.txt', 'sub10_hi.txt', 'sub02_hi.txt', 'sub24_hi.txt', 'sub47_hi.txt', 'sub36_hi.txt', 'sub28_hi.txt', 'sub12_hi.txt', 'sub44_lo.txt', 'sub39_lo.txt', 'sub27_lo.txt', 'sub48_lo.txt', 'sub35_lo.txt', 'sub03_lo.txt', 'sub11_lo.txt', 'sub16_hi.txt', 'sub08_hi.txt', 'sub04_hi.txt', 'sub32_hi.txt', 'sub20_hi.txt', 'sub43_hi.txt', 'sub15_lo.txt', 'sub19_lo.txt', 'sub07_lo.txt', 'sub31_lo.txt', 'sub40_lo.txt', 'sub23_lo.txt', 'sub05_lo.txt', 'sub17_lo.txt', 'sub09_lo.txt', 'sub21_lo.txt', 'sub42_lo.txt', 'sub33_lo.txt', 'sub18_hi.txt', 'sub06_hi.txt', 'sub14_hi.txt', 'sub41_hi.txt', 'sub22_hi.txt', 'sub30_hi.txt', 'sub11_hi.txt', 'sub03_hi.txt', 'sub35_hi.txt', 'sub48_hi.txt', 'sub27_hi.txt', 'sub39_hi.txt', 'sub44_hi.txt', 'sub12_lo.txt', 'sub28_lo.txt', 'sub36_lo.txt', 'sub47_lo.txt', 'sub24_lo.txt', 'sub02_lo.txt', 'sub10_lo.txt', 'sub26_lo.txt', 'sub38_lo.txt', 'sub45_lo.txt', 'sub34_lo.txt', 'sub01_hi.txt', 'sub13_hi.txt', 'sub46_hi.txt', 'sub25_hi.txt', 'sub29_hi.txt', 'sub37_hi.txt', 'sub30_lo.txt', 'sub22_lo.txt', 'sub41_lo.txt', 'sub14_lo.txt', 'sub06_lo.txt', 'sub18_lo.txt', 'sub33_hi.txt', 'sub42_hi.txt', 'sub21_hi.txt', 'sub09_hi.txt', 'sub17_hi.txt', 'sub05_hi.txt', 'sub23_hi.txt', 'sub40_hi.txt', 'sub31_hi.txt', 'sub07_hi.txt', 'sub19_hi.txt', 'sub15_hi.txt', 'sub43_lo.txt', 'sub20_lo.txt', 'sub32_lo.txt', 'sub04_lo.txt', 'sub08_lo.txt', 'sub16_lo.txt']

In [15]:
unique_subject_ids = sorted(set([int(file.split('_')[0][3:]) for file in file_names]))

In [16]:
unique_subject_ids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48]

In [6]:
from glob import glob
import os
folder_path = "../Dataset/STEW/"
file_names = os.listdir(folder_path)
all_files_path = glob(os.path.join(folder_path, '*.txt'))
file_names = [x for x in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, x)) and x.endswith(".txt") and x.startswith("sub")]
unique_subject_ids = sorted(set([int(file.split('_')[0][3:]) for file in file_names]))
print(unique_subject_ids)

ValueError: invalid literal for int() with base 10: 'Dataset/STEW/sub37'

In [10]:
for file in all_files_path:
    print(file.split('_')[0][3:])

Dataset/STEW/sub37
Dataset/STEW/sub29
Dataset/STEW/sub25
Dataset/STEW/sub46
Dataset/STEW/sub13
Dataset/STEW/sub01
Dataset/STEW/sub34
Dataset/STEW/sub45
Dataset/STEW/sub38
Dataset/STEW/sub26
Dataset/STEW/ratings.txt
Dataset/STEW/sub10
Dataset/STEW/sub02
Dataset/STEW/sub24
Dataset/STEW/sub47
Dataset/STEW/sub36
Dataset/STEW/sub28
Dataset/STEW/sub12
Dataset/STEW/sub44
Dataset/STEW/sub39
Dataset/STEW/sub27
Dataset/STEW/sub48
Dataset/STEW/sub35
Dataset/STEW/sub03
Dataset/STEW/sub11
Dataset/STEW/sub16
Dataset/STEW/sub08
Dataset/STEW/sub04
Dataset/STEW/sub32
Dataset/STEW/sub20
Dataset/STEW/sub43
Dataset/STEW/sub15
Dataset/STEW/sub19
Dataset/STEW/sub07
Dataset/STEW/sub31
Dataset/STEW/sub40
Dataset/STEW/sub23
Dataset/STEW/sub05
Dataset/STEW/sub17
Dataset/STEW/sub09
Dataset/STEW/sub21
Dataset/STEW/sub42
Dataset/STEW/sub33
Dataset/STEW/sub18
Dataset/STEW/sub06
Dataset/STEW/sub14
Dataset/STEW/sub41
Dataset/STEW/sub22
Dataset/STEW/sub30
Dataset/STEW/sub11
Dataset/STEW/sub03
Dataset/STEW/sub35
Dataset/STEW/sub48
Dataset/STEW/sub27
Dataset/STEW/sub39
Dataset/STEW/sub44
Dataset/STEW/sub12
Dataset/STEW/sub28
Dataset/STEW/sub36
Dataset/STEW/sub47
Dataset/STEW/sub24
Dataset/STEW/sub02
Dataset/STEW/sub10
Dataset/STEW/sub26
Dataset/STEW/sub38
Dataset/STEW/sub45
Dataset/STEW/sub34
Dataset/STEW/sub01
Dataset/STEW/sub13
Dataset/STEW/sub46
Dataset/STEW/sub25
Dataset/STEW/sub29
Dataset/STEW/sub37
Dataset/STEW/sub30
Dataset/STEW/sub22
Dataset/STEW/sub41
Dataset/STEW/sub14
Dataset/STEW/sub06
Dataset/STEW/sub18
Dataset/STEW/sub33
Dataset/STEW/sub42
Dataset/STEW/sub21
Dataset/STEW/sub09
Dataset/STEW/sub17
Dataset/STEW/sub05
Dataset/STEW/sub23
Dataset/STEW/sub40
Dataset/STEW/sub31
Dataset/STEW/sub07
Dataset/STEW/sub19
Dataset/STEW/sub15
Dataset/STEW/sub43
Dataset/STEW/sub20
Dataset/STEW/sub32
Dataset/STEW/sub04
Dataset/STEW/sub08
Dataset/STEW/sub16

In [19]:
import pandas as pd
data = pd.read_csv('../Dataset/STEW/sub37_lo.txt', sep='\s+', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,4593.33,4920.51,4544.62,4680.51,4402.05,4699.49,4553.33,4427.18,4429.23,4935.90,4565.64,4672.82,4715.90,4498.46
1,4590.26,4918.97,4541.54,4675.38,4406.15,4697.95,4551.79,4422.05,4419.49,4923.59,4565.64,4670.26,4710.26,4494.36
2,4589.74,4920.00,4541.03,4677.44,4403.08,4694.36,4551.28,4424.10,4420.51,4934.36,4565.64,4670.77,4715.38,4492.82
3,4578.97,4913.85,4533.85,4672.82,4384.62,4685.13,4544.62,4418.97,4416.92,4928.72,4555.90,4663.08,4708.72,4484.10
4,4564.10,4897.95,4519.49,4656.92,4366.15,4665.64,4529.23,4394.87,4393.85,4898.97,4538.46,4646.67,4685.13,4467.69

In [20]:
data.columns = ["AF3", "F7", "F3", "FC5", "T7", "P7", "O1", "O2", "P8", "T8", "FC6", "F4", "F8", "AF4"]

In [21]:
data.head()

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4
0,4593.33,4920.51,4544.62,4680.51,4402.05,4699.49,4553.33,4427.18,4429.23,4935.90,4565.64,4672.82,4715.90,4498.46
1,4590.26,4918.97,4541.54,4675.38,4406.15,4697.95,4551.79,4422.05,4419.49,4923.59,4565.64,4670.26,4710.26,4494.36
2,4589.74,4920.00,4541.03,4677.44,4403.08,4694.36,4551.28,4424.10,4420.51,4934.36,4565.64,4670.77,4715.38,4492.82
3,4578.97,4913.85,4533.85,4672.82,4384.62,4685.13,4544.62,4418.97,4416.92,4928.72,4555.90,4663.08,4708.72,4484.10
4,4564.10,4897.95,4519.49,4656.92,4366.15,4665.64,4529.23,4394.87,4393.85,4898.97,4538.46,4646.67,4685.13,4467.69

In [7]:
print(all_files_path)

['../Dataset/STEW/sub37_lo.txt', '../Dataset/STEW/sub29_lo.txt', '../Dataset/STEW/sub25_lo.txt', '../Dataset/STEW/sub46_lo.txt', '../Dataset/STEW/sub13_lo.txt', '../Dataset/STEW/sub01_lo.txt', '../Dataset/STEW/sub34_hi.txt', '../Dataset/STEW/sub45_hi.txt', '../Dataset/STEW/sub38_hi.txt', '../Dataset/STEW/sub26_hi.txt', '../Dataset/STEW/ratings.txt', '../Dataset/STEW/sub10_hi.txt', '../Dataset/STEW/sub02_hi.txt', '../Dataset/STEW/sub24_hi.txt', '../Dataset/STEW/sub47_hi.txt', '../Dataset/STEW/sub36_hi.txt', '../Dataset/STEW/sub28_hi.txt', '../Dataset/STEW/sub12_hi.txt', '../Dataset/STEW/sub44_lo.txt', '../Dataset/STEW/sub39_lo.txt', '../Dataset/STEW/sub27_lo.txt', '../Dataset/STEW/sub48_lo.txt', '../Dataset/STEW/sub35_lo.txt', '../Dataset/STEW/sub03_lo.txt', '../Dataset/STEW/sub11_lo.txt', '../Dataset/STEW/sub16_hi.txt', '../Dataset/STEW/sub08_hi.txt', '../Dataset/STEW/sub04_hi.txt', '../Dataset/STEW/sub32_hi.txt', '../Dataset/STEW/sub20_hi.txt', '../Dataset/STEW/sub43_hi.txt', '../Dataset/STEW/sub15_lo.txt', '../Dataset/STEW/sub19_lo.txt', '../Dataset/STEW/sub07_lo.txt', '../Dataset/STEW/sub31_lo.txt', '../Dataset/STEW/sub40_lo.txt', '../Dataset/STEW/sub23_lo.txt', '../Dataset/STEW/sub05_lo.txt', '../Dataset/STEW/sub17_lo.txt', '../Dataset/STEW/sub09_lo.txt', '../Dataset/STEW/sub21_lo.txt', '../Dataset/STEW/sub42_lo.txt', '../Dataset/STEW/sub33_lo.txt', '../Dataset/STEW/sub18_hi.txt', '../Dataset/STEW/sub06_hi.txt', '../Dataset/STEW/sub14_hi.txt', '../Dataset/STEW/sub41_hi.txt', '../Dataset/STEW/sub22_hi.txt', '../Dataset/STEW/sub30_hi.txt', '../Dataset/STEW/sub11_hi.txt', '../Dataset/STEW/sub03_hi.txt', '../Dataset/STEW/sub35_hi.txt', '../Dataset/STEW/sub48_hi.txt', '../Dataset/STEW/sub27_hi.txt', '../Dataset/STEW/sub39_hi.txt', '../Dataset/STEW/sub44_hi.txt', '../Dataset/STEW/sub12_lo.txt', '../Dataset/STEW/sub28_lo.txt', '../Dataset/STEW/sub36_lo.txt', '../Dataset/STEW/sub47_lo.txt', '../Dataset/STEW/sub24_lo.txt', '../Dataset/STEW/sub02_lo.txt', '../Dataset/STEW/sub10_lo.txt', '../Dataset/STEW/sub26_lo.txt', '../Dataset/STEW/sub38_lo.txt', '../Dataset/STEW/sub45_lo.txt', '../Dataset/STEW/sub34_lo.txt', '../Dataset/STEW/sub01_hi.txt', '../Dataset/STEW/sub13_hi.txt', '../Dataset/STEW/sub46_hi.txt', '../Dataset/STEW/sub25_hi.txt', '../Dataset/STEW/sub29_hi.txt', '../Dataset/STEW/sub37_hi.txt', '../Dataset/STEW/sub30_lo.txt', '../Dataset/STEW/sub22_lo.txt', '../Dataset/STEW/sub41_lo.txt', '../Dataset/STEW/sub14_lo.txt', '../Dataset/STEW/sub06_lo.txt', '../Dataset/STEW/sub18_lo.txt', '../Dataset/STEW/sub33_hi.txt', '../Dataset/STEW/sub42_hi.txt', '../Dataset/STEW/sub21_hi.txt', '../Dataset/STEW/sub09_hi.txt', '../Dataset/STEW/sub17_hi.txt', '../Dataset/STEW/sub05_hi.txt', '../Dataset/STEW/sub23_hi.txt', '../Dataset/STEW/sub40_hi.txt', '../Dataset/STEW/sub31_hi.txt', '../Dataset/STEW/sub07_hi.txt', '../Dataset/STEW/sub19_hi.txt', '../Dataset/STEW/sub15_hi.txt', '../Dataset/STEW/sub43_lo.txt', '../Dataset/STEW/sub20_lo.txt', '../Dataset/STEW/sub32_lo.txt', '../Dataset/STEW/sub04_lo.txt', '../Dataset/STEW/sub08_lo.txt', '../Dataset/STEW/sub16_lo.txt']

In [3]:
print("s{:02d}.dat".format(1))

s01.dat

In [5]:
import h5py
import numpy as np
import tensorflow as tf

def load_dataset(filename):
    data = np.load(filename)
    
    eeg_data = {}
    for subject_key in set([key.split('_')[0] for key in data.keys()]):
        eeg_data[subject_key] = {}
        for dataset_type in ['train_ds', 'test_ds']:
            x_data = data[f'{subject_key}_{dataset_type}_x']
            y_data = data[f'{subject_key}_{dataset_type}_y']
            x_tensor = tf.convert_to_tensor(x_data, dtype=tf.float32)  # Convert NumPy back to Tensor
            y_tensor = tf.convert_to_tensor(y_data, dtype=tf.float32)  # Convert NumPy back to Tensor
            dataset = tf.data.Dataset.from_tensor_slices((x_tensor, y_tensor)).batch(32)
            eeg_data[subject_key][dataset_type] = dataset
    return eeg_data

dataset_file = 'loading_datasets/bciciv2a_data.npz'
eeg_data = load_dataset(dataset_file)

In [7]:
print(eeg_data.keys())
print(eeg_data['01']['train_ds'])

dict_keys(['06', '04', '07', '02', '01', '05', '03', '08', '09'])
<_BatchDataset element_spec=(TensorSpec(shape=(None, 22, 256), dtype=tf.float32, name=None), TensorSpec(shape=(None, 4), dtype=tf.float32, name=None))>

In [ ]:
/Users/nhinguyen/Documents/MScDataScience/SoSe24/Masterarbeit/localtest/main.py